<section class="footer">
    <div class="box-container">
      <div class="box">
        <a href="/" class="logo"><i class="fas fa-shopping-basket"></i>groco</a>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
          neque in voluptatem unde.
        </p>
        <div class="social-media">
          <a href="#" class="butn fab fa-facebook-f"></a>
          <a href="#" class="butn fab fa-twitter"></a>
          <a href="#" class="butn fab fa-instagram"></a>
          <a href="#" class="butn fab fa-linkedin"></a>
        </div>
      </div>
  
      <div class="box">
        <h3>our locations</h3>
        <ul>
          <li><a href="#">India</a></li>
          <li><a href="#">USA</a></li>
          <li><a href="#">France</a></li>
          <li><a href="#">Japan</a></li>
          <li><a href="#">Russia</a></li>
        </ul>
      </div>
  
      <div class="box">
        <h3>quick links</h3>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#category">Category</a></li>
          <li><a href="#product">Products</a></li>
          <li><a href="#deal">Deal</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
  
      <div class="box">
        <h3>download app</h3>
        <ul>
          <li><a href="#">Google Play</a></li>
          <li><a href="#">Windows XP</a></li>
          <li><a href="#">App Store</a></li>
        </ul>
      </div>
    </div>
  
    <div class="footer-bottom">&copy; copyright reserved</div>
  </section>